.search {
  width: 100%;
  border-radius: 3px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.input {
  border: none;
  margin: 0.3em;
  font-size: 1.5em;
  padding:0.3em;
  color: black;
  width: 100%;
}

.search .submit button {
  border: none;
  background-color: transparent;
  color: black !important;
}

.search .submit button mat-icon {
  display: inline-block;
  vertical-align: middle;
}

.search .submit button:hover {
  transform: scale(1.2);
}

.search .input input:hover, .search .submit button:hover {
  cursor: pointer;
}

.search .input input:focus {
  outline: none;
  border-bottom: 1px solid gray;
}


