<div class="reminder">
  <div class="calendar">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
  </div>

  <div class="reminderOnDate">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, quaerat!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </div>
  <div class="addRemind">
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>


</div>
